* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat'),
    url('fonts/Montserrat.ttf')
    format('truetype');
}

@font-face {
    font-family: "Inconsolata";
    src: local('Inconsolata'),
    url('fonts/Inconsolata.ttf')
    format('truetype');
}

:root {
    --primary-color: #B0C4B1;
    --secondary-color: #4A5759;
    --tetriary-color: #EDAFB8;
    --light-color: #F7E1D7;
    --dark-color: #212525;
    --background-color: #DEDBD2;
    --main-font: 'Montserrat', Helvetica, sans-serif;
    --second-font: 'Inconsolata', Courier, monospace;
    
}

body {
    background-color: #DEDBD2;
    font-family: var(--main-font);
    font-size: 18px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
